@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Report</h4>
    <p class="lead">
        <ol>
            <li>
                <a href="@Url.Action("PPMS","Reports")/CETAK_BKMHK.aspx?bkmDate=2023-04-04&estate=3520&divisi=04&gang=04HC03" target="_blank">Cetak Buku Mandor HK </a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/CetakBukuPanen.aspx?bkmDate=2023-04-04&estate=3520&divisi=04&gang=04HC03" target="_blank">Cetak Buku Panen</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/RptAnomali.aspx?bkmDate=2023-04-04&estate=3520&divisi=04" target="_blank">Anomali Absent Output Panen</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/NotesPotongBuah_Header.aspx?fromDate=2022-12-20&toDate=2022-12-22&nik=201702704&gang=03HC01&estate=3521" target="_blank">Note Potong Buah</a>
            </li>

            <li>
                <a href="@Url.Action("PPMS","Reports")/ReportPrestasiDivisi.aspx?bkmDate=2023-04-04&divisi=04&estate=3520&company=3500" target="_blank">Prestasi Divisi</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/ReportAnomaliPanenVsAngkut.aspx?fromDate=2023-03-25&toDate=2023-04-04&block=H22P17&estate=3520" target="_blank">Anomali Penen Vs Angkut</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/Taksasi.aspx?estate=6920&divisi=01&period=7&year=2023&fromDate=2023-07-27&toDate=2023-07-27" target="_blank">Taksasi</a>
            </li>
        </ol>
    </p>

    <h4>Print</h4>
    <p class="lead">
        <ol>
            <li>
                <a href="@Url.Action("PPMS","Reports")/CETAK_BKMHK_print.aspx?bkmDate=2023-04-04&estate=3520&divisi=04&gang=04HC03" target="_blank">Cetak Buku Mandor HK </a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/CetakBukuPanen_print.aspx?bkmDate=2023-04-04&estate=3520&divisi=04&gang=04HC03" target="_blank">Cetak Buku Panen</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/RptAnomali_print.aspx?bkmDate=2023-04-04&estate=3520&divisi=04" target="_blank">Anomali Absent Output Panen</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/NotesPotongBuah_Header_print.aspx?fromDate=2022-12-20&toDate=2022-12-22&nik=201702704&gang=03HC01&estate=3521" target="_blank">Note Potong Buah</a>
            </li>

            <li>
                <a href="@Url.Action("PPMS","Reports")/ReportPrestasiDivisi_print.aspx?bkmDate=2023-04-04&divisi=04&estate=3520&company=3500" target="_blank">Prestasi Divisi</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/ReportAnomaliPanenVsAngkut_print.aspx?fromDate=2023-03-25&toDate=2023-04-04&block=H22P17&estate=3520" target="_blank">Anomali Penen Vs Angkut</a>
            </li>
            <li>
                <a href="@Url.Action("PPMS","Reports")/Taksasi_print.aspx?estate=6920&divisi=01&period=7&year=2023&fromDate=2023-07-27&toDate=2023-07-27" target="_blank">Taksasi</a>
            </li>
        </ol>
    </p>
</div>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="searchText" placeholder="Enter Company Name">
    </div>
    <div class="col-md-3">
        <button type="button" id="btnSearch" class="btn btn-raised btn-primary btn-block">Get Report</button>
    </div>
</div>*@
<div class="row">
    <div class="col-md-12">
        <div id="divReport">
        </div>
    </div>
</div>
    <script>
        //$(function () {
        //    $('#btnSearch').click(function () {

        //        var searchText = $("#searchText").val();

        //        //ASPX page URL to load report
        //        var src = '../Reports/HMS/CetakBukuPanen.aspx';
        //        //We can add parameters here
        //        //srcsrc = src + "searchText=" + searchText

        //        //We can append more than one parameter like below
        //        //var companyId = 1
        //        //srcsrc = src + "compnayID=" + companyId

        //        //Create a dynamic iframe here and append this to div tag
        //        var iframe = '<iframe id="reportFrame" width="1000px" height="1200px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
        //        $("#divReport").html(iframe);
        //    });
        //});
    </script>
